<header class="primary-header flex">
    <div class="logo">
        <img src="/img/navimg.jpg" alt="Poza">
    </div>
    <button class="mobile_nav_toggel" aria-controls="primary-nav" aria-expanded="false" type="button">
      <span class="sr-only">Menu</span>
    </button>
    <nav>
        <ul id="primary-nav" data-visible="false" class="primary-nav flex">
          <li class="active">
            <a href="/">ACASA</a>
          </li>
  
          <li>
            <a href="/qtn/add">ADAUGA</a>
          </li>
  
          <li class="nav-style">
            <a href="/qtn/admin">ADMIN</a>
          </li>
          
        </ul>
      </nav> 
</header>